/* npx tailwindcss -i ./src/styles/input.scss -o ./src/styles/output.css --watch */

body {
  margin: 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0px
}

.App {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(11 36 52 / var(--tw-bg-opacity));
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px
}

.game {
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  padding: 35px;
  text-align: center
}

.description-title {
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: 700;
  color: 2B283A
}

.description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 300px;
  font-size: 13px;
  color: 4A4E74
}

.hero {
  margin-left: 35px;
  margin-right: 35px
}

.dices {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px
}

.dice {
  display: flex;
  height: 35px;
  width: 35px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  color: #2B283A;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.roll-btn {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  cursor: pointer;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(80 53 255 / var(--tw-bg-opacity));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.green {
  --tw-bg-opacity: 1;
  background-color: rgb(89 227 145 / var(--tw-bg-opacity))
}